@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

p::selection,
a::selection,
h2::selection,
h3::selection,
h4::selection{
  background: rgba(233,193,155,1);
}

body {
  width: 100%;
  overflow-x: hidden;
  color: white;
  background: rgb(103, 104, 107);
}

