footer{
  width: 100%;
  height: 200px;
  background: rgb(35,36,40);
  background: linear-gradient(31deg, rgba(35,36,40,1) 0%, rgba(60,63,68,1) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h4{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

footer a {
  color: white;
}
