header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  color: transparent;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h1 span{
  font-weight: 700;
}

.logos-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.logos {
  color: white;
  justify-self: flex-end;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 0.5rem;
  cursor: pointer;
  background: rgb(211, 175, 205);
  background: linear-gradient(31deg, rgb(245, 207, 226) 0%, rgb(178, 144, 185) 100%);
}

.logos:hover {
  color: rgb(179, 149, 174);
  background: white;
}

.logos svg {
  height: 80px;
  min-width: 80px;
  padding: 0.75rem;
}

#arrow{
  margin-top: 50px;
}

path{
  padding: 10px;
}

/* TITLE ANIMATION */

@keyframes line-anim {
  to{
      stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
      fill: transparent;
  }
  to {
      fill: white;
  }
}

/* ARROW ANIMATION */

#arrow svg{
  align-self: flex-end;
  animation: bounce 2s 5 cubic-bezier(0.280, 0.840, 0.420, 1);
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#visible {
  background: transparent;
  transition: background 0.5s ease-in, color 0.5s ease-in, ;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@media screen and (max-width: 800px){
  .header-container{
    width: 90vw;
  }
  
  .header-container svg{
    max-width: 90vw;
  }

  .logos {
    height: 60px;
    width: 60px;
  }
  
  .logos svg {
    height: 60px;
    min-width: 60px;
  }

  h1{
    font-size: 1.5rem;
  }

  .logos-container{
    margin-bottom: 1.5rem;
  }

  #arrow{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px){

  footer{
    width: 100vw;
  }

  footer .logos-container{
    justify-content: center;
    margin-top: 1rem;
  }
}
