nav{
  width: 100%;
  background: rgb(189,136,89);
  background: linear-gradient(31deg, rgba(189,136,89,1) 0%, rgba(233,193,155,1) 100%);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

ul {
  width: 1088px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

nav a{
  color: white;
  margin: 0 1rem;
  font-size: 1.2rem;
}

#envelope #envelopeOpen,
#envelope:hover #envelopeClose,
#top #topTwo,
#top:hover #topOne{
  display: none;
}

#envelope:hover #envelopeOpen,
#top:hover #topTwo{
  display: inline;
}


