nav{
  width: 100%;
  background: rgb(80, 141, 161);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 3;
}

.hamburger{
  display: none;
}

.nav-container {
  width: 1088px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

nav a{
  color: white;
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-container a{
  border-radius: 50%;
  margin-right: 0.75rem;
  background: #508da1;
  box-shadow: inset -4px 4px 7px #447889, 
              inset 4px -4px 7px #5ca2b9;
}

.icon-container svg{
  margin: 0.25rem;
  font-size: 2.5rem;
  padding: 0.5rem;
}

/* ARROW, ENVELOPE, HOME */
.icon-container .svg-inline--fa.fa-w-10,
.icon-container .svg-inline--fa.fa-w-16,
.icon-container .svg-inline--fa.fa-w-18 {
  width: 1em;
}

.menu-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.nav-item a{
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.nav-item a:hover, 
.nav-item.current a{
  font-weight: 600;
}

#envelope #envelopeOpen,
#envelope:hover #envelopeClose,
#top #topTwo,
#top:hover #topOne,
#home #houseUser,
#home:hover #house{
  display: none;
}

#envelope:hover #envelopeOpen,
#top:hover #topTwo,
#home:hover #houseUser{
  display: inline;
}

@media screen and (max-width: 800px){

  .nav-container {
    width: 100vw;
  }

  .menu-nav {
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out;
  }

  .menu-nav a{
    visibility: hidden;
  }

  .menu-nav.show a{
    visibility: visible;
  }

  .menu-nav.show{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background: rgb(80, 141, 161);
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 0; 
    height: calc(100vh - 80px);
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -o-calc(100vh - 80px);
    opacity: 0.95;
    -webkit-transform: translate3d(0,0,0); 
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .menu-nav.show li{
    position: relative;
    right: 30px;
    margin: 2rem 0;
  }
  
  .icon-container{
    margin-left: 5%;
  }

  .menu-btn{
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 25px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    display: block;
  }

  .btn-line{
    width: 30px;
    height: 3px;
    background: white;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out; 
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    margin: 5px;
  }

  .close .btn-line:nth-child(1){
    -webkit-transform: rotate(45deg) translate(5px, 5px); 
    -moz-transform: rotate(45deg) translate(5px, 5px);
    -o-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
  }

  .close .btn-line:nth-child(2){
    width: 0%;
    opacity: 0;
  }

  .close .btn-line:nth-child(3){
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
    -moz-transform: rotate(-45deg) translate(7px, -6px);
    -o-transform: rotate(-45deg) translate(7px, -6px);
    transform: rotate(-45deg) translate(7px, -6px);
  }
}
