nav{
  width: 100%;
  background: rgb(189,136,89);
  background: linear-gradient(90deg, rgba(189,136,89,1) 0%, rgba(233,193,155,1) 100%);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 80px;
  z-index: 2;
}

.hamburger{
  display: none;
}

.nav-container {
  width: 1088px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  color: white;
}

.icon-container svg{
  margin-right: 0.75rem;
  font-size: 2.75rem;
  padding: 0.75rem;
  border-radius: 50%;
  background: #C9976A;
  box-shadow: inset -4px 4px 7px #ab805a, 
              inset 4px -4px 7px #e7ae7a;
}

.nav-links{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.svg-inline--fa.fa-w-10 {
  width: 1em;
}

.nav-links a{
  font-size: 1.5rem;
  font-weight: 400;
}

.nav-links a:hover{
  font-weight: 700;
}

#envelope #envelopeOpen,
#envelope:hover #envelopeClose,
#top #topTwo,
#top:hover #topOne,
#home #houseUser,
#home:hover #house{
  display: none;
}

#envelope:hover #envelopeOpen,
#top:hover #topTwo,
#home:hover #houseUser{
  display: inline;
}

@media screen and (max-width: 1000px){

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .icon-container{
    margin-left: 5%;
  }

  .hamburger{
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    z-index: 3;
  }

  .nav-links{
    background: rgb(189,136,89);
    background: linear-gradient(90deg, rgba(189,136,89,1) 0%, rgba(233,193,155,1) 100%);
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(1300px at 90% -10%);
    -webkit-clip-path: circle(1300px at 90% -10%);
    pointer-events: all;
  }
}
