section {
  max-width: 1088px;
  width: 100%;
}

h2{
  font-family: 'Lato', sans-serif;
  background: rgb(189,136,89);
  background: linear-gradient(31deg, rgba(189,136,89,1) 0%, rgba(233,193,155,1) 100%);
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 3rem auto 1rem auto;
}

h3, h4, h5 {
  text-transform: uppercase;
  color: rgba(233,193,155,1);
  font-family: 'Lato', sans-serif;
  background: -webkit-linear-gradient(31deg, rgba(189,136,89,1) 0%, rgba(233,193,155,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5{
  font-size: 1rem;
}

.skills-container ul{
  margin-bottom: 3rem;
}

.skills-container p{
  text-align: center;
}

#projects{
  margin-top: 3rem;
}

#projects ul{
  display: flex;
  margin-top: 0.5rem;
}

#projects a, #blog a{
  color: white;
  margin-right: 1rem;
}

#projects a:hover, #blog a:hover{
  color: rgba(233,193,155,1);
}

#projects li{
  font-size: 1rem;
  background-color: rgba(233,193,155);
  margin-right: 0.5rem;
  padding: 0.25rem;
  min-width: 75px;
  text-align: center;
}

.featured-projects-container, .blog-post-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
  grid-gap: 2rem;
}

.featured-projects-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-projects-container article{
  display: flex;
  flex-direction: column;
}

.project-image {
  position: relative;
  margin-bottom: 1rem;
}

.project-image:hover::before {
  content: '';
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.project-image-links{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); 
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 3rem;
}

.project-image:hover .project-image-links{
  visibility: visible;
}

.other-projects-container { 
  margin-bottom: 3rem;
}

.other-projects-container h3{ 
  text-align: center;
  margin-bottom: 2rem;
}

.other-projects-container article{ 
  margin-bottom: 2rem;
}

#otherProjectsLinks a{ 
  margin-right: 0.5rem;
}

.blog-post-container img{
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 800px){

  .skills-container {
    width: 90%;
  }

  #blog, #projects{
    width: 90%;
    margin: 0 auto 3rem auto;
  }

}

@media (max-width: 500px){

  .skills-container p,
  #blog p,
  #projects p{
    font-size: 1.25rem;
  }

  .knowledge-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .knowledge-container ul{ 
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .knowledge-container h3,
  .blog-post-container h4{
    font-size: 1.55rem;
  }

  .knowledge-container li{
    font-size: 1.25rem;
  }

  #blog {
    max-width: 90%;
    margin: 0 auto 3rem auto;
  }

  #blog h2{
    font-size: 1.5rem;
  }

  #projects h4{
    font-size: 1.4rem;
  }

  #projects .other-projects-container h4{ 
    font-size: 1.2rem;
  }

  #projects .other-projects-container p{ 
    font-size: 1rem;
  }

  #projects .other-projects-container article{ 
    margin-bottom: 1rem;
  }

}
